.elementor-7 .elementor-element.elementor-element-e137599 {
    margin-top: 4%;
    margin-bottom: 0%;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-7 .elementor-element.elementor-element-fe9f8c1 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-fe9f8c1 .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Open Sans;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-7 .elementor-element.elementor-element-504fb2b {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-504fb2b .elementor-divider-separator {
    width: 10%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-504fb2b .elementor-divider {
    text-align: center;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-504fb2b.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-504fb2b.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-504fb2b.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-504fb2b.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-504fb2b.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-90c7883 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-90c7883 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-093d317>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-093d317 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-7 .elementor-element.elementor-element-093d317 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 35px;
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-093d317 .elementor-swiper-button.elementor-swiper-button-prev svg, .elementor-7 .elementor-element.elementor-element-093d317 .elementor-swiper-button.elementor-swiper-button-next svg {
    fill: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-093d317 .swiper-pagination-bullet {
    width: 0px;
    height: 0px;
}

.elementor-7 .elementor-element.elementor-element-093d317 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-093d317 .elementor-image-carousel-caption {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-01feca8:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-01feca8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/pic-26.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-01feca8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-01feca8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-bc94301 {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-bc94301 .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-c47f641 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-c47f641 .elementor-divider-separator {
    width: 20%;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-7 .elementor-element.elementor-element-c47f641 .elementor-divider {
    text-align: left;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-c47f641.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-c47f641.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-c47f641.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-c47f641.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-c47f641.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-14c8f00 {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-14c8f00 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #2B2A29;
}

.elementor-widget-text-editor {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-7 .elementor-element.elementor-element-99139f8 {
    text-align: justify;
    color: #000000;
    font-family: "Open Sans", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-widget-button .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Open Sans;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-7 .elementor-element.elementor-element-e7d15d2 .elementor-button {
    background-color: #FAD678;
    fill: #000000;
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-e7d15d2 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-widget-image .widget-image-caption {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-7 .elementor-element.elementor-element-f4eaafd:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-f4eaafd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-f4eaafd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7 .elementor-element.elementor-element-f4eaafd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4207ebc {
    margin-top: 3%;
    margin-bottom: 3%;
}

.elementor-7 .elementor-element.elementor-element-d403ccf>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF;
    /* margin: 4% 4% 4% 4%; */
    text-align: center;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-widget-counter .elementor-counter-number-wrapper {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-counter .elementor-counter-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Open Sans;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-7 .elementor-element.elementor-element-ca19d65 .elementor-counter-number-wrapper {
    color: #FAD678;
    font-family: "Roboto", Open Sans;
    font-size: 45px;
    font-weight: 200;
}

.elementor-7 .elementor-element.elementor-element-ca19d65 .elementor-counter-title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-8550867>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-0ccd133 .elementor-counter-number-wrapper {
    color: #FAD678;
    font-family: "Roboto", Open Sans;
    font-size: 45px;
    font-weight: 200;
}

.elementor-7 .elementor-element.elementor-element-0ccd133 .elementor-counter-title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-d033238>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FFFFFF;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-22e233a .elementor-counter-number-wrapper {
    color: #FAD678;
    font-family: "Roboto", Open Sans;
    font-size: 45px;
    font-weight: 200;
}

.elementor-7 .elementor-element.elementor-element-22e233a .elementor-counter-title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-1061ef4>.elementor-element-populated {
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-cc1da94 .elementor-counter-number-wrapper {
    color: #FAD678;
    font-family: "Roboto", Open Sans;
    font-size: 45px;
    font-weight: 200;
}

.elementor-7 .elementor-element.elementor-element-cc1da94 .elementor-counter-title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-41f08af {
    margin-top: 4%;
    margin-bottom: 4%;
}

.elementor-7 .elementor-element.elementor-element-fdbc2de {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-fdbc2de .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-08b8946 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-08b8946 .elementor-divider-separator {
    width: 10%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-08b8946 .elementor-divider {
    text-align: center;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-08b8946.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-08b8946.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-08b8946.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-08b8946.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-08b8946.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-91ef136 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-91ef136 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-033c265>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #02010100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-033c265>.elementor-element-populated, .elementor-7 .elementor-element.elementor-element-033c265>.elementor-element-populated>.elementor-background-overlay, .elementor-7 .elementor-element.elementor-element-033c265>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-7 .elementor-element.elementor-element-033c265:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-033c265>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title, .elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-7 .elementor-element.elementor-element-8c271c5 {
    --icon-box-icon-margin: 15px;
}

.elementor-7 .elementor-element.elementor-element-8c271c5 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-8c271c5.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
    fill: #2B2A29;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-8c271c5.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-8c271c5.elementor-view-default .elementor-icon {
    fill: #FAD678;
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-8c271c5.elementor-view-framed .elementor-icon {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-8c271c5 .elementor-icon {
    font-size: 35px;
}

.elementor-7 .elementor-element.elementor-element-8c271c5 .elementor-icon-box-title, .elementor-7 .elementor-element.elementor-element-8c271c5 .elementor-icon-box-title a {
    font-family: "Oswald", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-0517ae9>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #02010100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-0517ae9>.elementor-element-populated, .elementor-7 .elementor-element.elementor-element-0517ae9>.elementor-element-populated>.elementor-background-overlay, .elementor-7 .elementor-element.elementor-element-0517ae9>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-7 .elementor-element.elementor-element-0517ae9:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-0517ae9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9 {
    --icon-box-icon-margin: 15px;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
    fill: #2B2A29;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-a11bfa9.elementor-view-default .elementor-icon {
    fill: #FAD678;
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9.elementor-view-framed .elementor-icon {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9 .elementor-icon {
    font-size: 35px;
}

.elementor-7 .elementor-element.elementor-element-a11bfa9 .elementor-icon-box-title, .elementor-7 .elementor-element.elementor-element-a11bfa9 .elementor-icon-box-title a {
    font-family: "Oswald", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-74be35b>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #02010100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-74be35b>.elementor-element-populated, .elementor-7 .elementor-element.elementor-element-74be35b>.elementor-element-populated>.elementor-background-overlay, .elementor-7 .elementor-element.elementor-element-74be35b>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-7 .elementor-element.elementor-element-74be35b:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-74be35b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-b8e4275 {
    --icon-box-icon-margin: 15px;
}

.elementor-7 .elementor-element.elementor-element-b8e4275 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-b8e4275.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
    fill: #2B2A29;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-b8e4275.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-b8e4275.elementor-view-default .elementor-icon {
    fill: #FAD678;
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-b8e4275.elementor-view-framed .elementor-icon {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-b8e4275 .elementor-icon {
    font-size: 35px;
}

.elementor-7 .elementor-element.elementor-element-b8e4275 .elementor-icon-box-title, .elementor-7 .elementor-element.elementor-element-b8e4275 .elementor-icon-box-title a {
    font-family: "Oswald", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-b9053de>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF00;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-b9053de>.elementor-element-populated, .elementor-7 .elementor-element.elementor-element-b9053de>.elementor-element-populated>.elementor-background-overlay, .elementor-7 .elementor-element.elementor-element-b9053de>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-7 .elementor-element.elementor-element-b9053de:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-b9053de>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5 {
    --icon-box-icon-margin: 15px;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
    fill: #2B2A29;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-4fbb2c5.elementor-view-default .elementor-icon {
    fill: #FAD678;
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5.elementor-view-framed .elementor-icon {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5 .elementor-icon {
    font-size: 35px;
}

.elementor-7 .elementor-element.elementor-element-4fbb2c5 .elementor-icon-box-title, .elementor-7 .elementor-element.elementor-element-4fbb2c5 .elementor-icon-box-title a {
    font-family: "Oswald", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-09182df>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #02010100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-09182df>.elementor-element-populated, .elementor-7 .elementor-element.elementor-element-09182df>.elementor-element-populated>.elementor-background-overlay, .elementor-7 .elementor-element.elementor-element-09182df>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-7 .elementor-element.elementor-element-09182df:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-09182df>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-e303e74 {
    --icon-box-icon-margin: 15px;
}

.elementor-7 .elementor-element.elementor-element-e303e74 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-e303e74.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
    fill: #2B2A29;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-e303e74.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-e303e74.elementor-view-default .elementor-icon {
    fill: #FAD678;
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-e303e74.elementor-view-framed .elementor-icon {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-e303e74 .elementor-icon {
    font-size: 35px;
}

.elementor-7 .elementor-element.elementor-element-e303e74 .elementor-icon-box-title, .elementor-7 .elementor-element.elementor-element-e303e74 .elementor-icon-box-title a {
    font-family: "Oswald", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-2395a19>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #02010100;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-2395a19>.elementor-element-populated, .elementor-7 .elementor-element.elementor-element-2395a19>.elementor-element-populated>.elementor-background-overlay, .elementor-7 .elementor-element.elementor-element-2395a19>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-7 .elementor-element.elementor-element-2395a19:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-2395a19>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-362b2fe {
    --icon-box-icon-margin: 15px;
}

.elementor-7 .elementor-element.elementor-element-362b2fe .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-362b2fe.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
    fill: #2B2A29;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-362b2fe.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-362b2fe.elementor-view-default .elementor-icon {
    fill: #FAD678;
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-362b2fe.elementor-view-framed .elementor-icon {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-362b2fe .elementor-icon {
    font-size: 35px;
}

.elementor-7 .elementor-element.elementor-element-362b2fe .elementor-icon-box-title, .elementor-7 .elementor-element.elementor-element-362b2fe .elementor-icon-box-title a {
    font-family: "Oswald", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-b7de01a>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-b7de01a .elementor-background-slideshow__slide__image {
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-b7de01a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7 .elementor-element.elementor-element-8816d0e {
    margin-top: 10%;
    margin-bottom: 10%;
}

.elementor-7 .elementor-element.elementor-element-581a4e3 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-581a4e3 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-62c216e {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-62c216e .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-ed9e063 .elementor-button {
    background-color: #FAD67800;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-ed9e063 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-7 .elementor-element.elementor-element-1ec4676 {
    margin-top: 4%;
    margin-bottom: 4%;
}

.elementor-7 .elementor-element.elementor-element-5974b23 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-5974b23 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-5f7d100 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-5f7d100 .elementor-divider-separator {
    width: 10%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-5f7d100 .elementor-divider {
    text-align: center;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-5f7d100.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-5f7d100.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-5f7d100.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-5f7d100.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-5f7d100.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-ec1f978 {
    text-align: center;
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-0c56591>.elementor-element-populated {
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__title {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__description {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__title {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__description {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-flip-box .elementor-flip-box__button {
    font-family: var(--e-global-typography-accent-font-family), Open Sans;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__front {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/luxury.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__back {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/luxury.jpg");
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    background-color: #020101A6;
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box {
    height: 450px;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__layer, .elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__layer__overlay {
    border-radius: 8px;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Open Sans;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__back .elementor-flip-box__layer__title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-c209e0f .elementor-flip-box__back .elementor-flip-box__layer__description {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-f6b80ba>.elementor-element-populated {
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__front {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/custome.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__back {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/custome.jpg");
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    background-color: #020101A6;
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box {
    height: 450px;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__layer, .elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__layer__overlay {
    border-radius: 8px;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Open Sans;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__back .elementor-flip-box__layer__title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-f5cf9d9 .elementor-flip-box__back .elementor-flip-box__layer__description {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-ef38381>.elementor-element-populated {
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__front {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/dj.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__back {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/dj.jpg");
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    background-color: #020101A6;
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box {
    height: 450px;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__layer, .elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__layer__overlay {
    border-radius: 8px;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Open Sans;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__button {
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__back .elementor-flip-box__layer__title {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-f60b961 .elementor-flip-box__back .elementor-flip-box__layer__description {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-bb22318 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7 .elementor-element.elementor-element-bb22318>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-0d08585.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-0d08585>.elementor-element-populated {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-ddda44d {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-ddda44d .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-c0088ce {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-c0088ce .elementor-divider-separator {
    width: 10%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-c0088ce .elementor-divider {
    text-align: center;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-c0088ce.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-c0088ce.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-c0088ce.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-c0088ce.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-c0088ce.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-9b3da05 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-9b3da05 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #2B2A29;
}

.elementor-widget-gallery .elementor-gallery-item__title {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-gallery .elementor-gallery-item__description {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-gallery {
    --galleries-title-color-normal: var(--e-global-color-primary);
    --galleries-title-color-hover: var(--e-global-color-secondary);
    --gallery-title-color-active: var(--e-global-color-secondary);
}

.elementor-widget-gallery .elementor-gallery-title {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-7 .elementor-element.elementor-element-edab979 .e-gallery-item:hover .elementor-gallery-item__overlay, .elementor-7 .elementor-element.elementor-element-edab979 .e-gallery-item:focus .elementor-gallery-item__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-7 .elementor-element.elementor-element-edab979 {
    --image-border-color: #FAD678;
    --image-border-width: 2px;
    --image-border-radius: 8px;
    --image-transition-duration: 800ms;
    --overlay-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
    --content-transition-duration: 800ms;
    --content-transition-delay: 800ms;
}

.elementor-7 .elementor-element.elementor-element-96ce5ae .elementor-button {
    background-color: #FAD678;
    fill: #000000;
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-96ce5ae .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-7 .elementor-element.elementor-element-0af3dbb:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-0af3dbb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-0af3dbb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 5% 0% 0% 5%;
}

.elementor-7 .elementor-element.elementor-element-0af3dbb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-b760620 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-b760620 .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-88596ac {
    --divider-border-style: solid;
    --divider-color: #FFFFFF;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-88596ac .elementor-divider-separator {
    width: 10%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7 .elementor-element.elementor-element-88596ac .elementor-divider {
    text-align: center;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-88596ac.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-88596ac.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-88596ac.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-88596ac.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-88596ac.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-caa3365 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-caa3365 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.elementor-widget-testimonial-carousel .elementor-testimonial__text {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__name {
    font-family: var(--e-global-typography-primary-font-family), Open Sans;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Open Sans;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-7 .elementor-element.elementor-element-727da65 .elementor-main-swiper .swiper-slide {
    background-color: #13131300;
    border-width: 1px 1px 1px 1px;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-727da65 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-7 .elementor-element.elementor-element-727da65 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #FAD678;
    opacity: 1;
}

.elementor-7 .elementor-element.elementor-element-727da65 .swiper-pagination-bullet-active, .elementor-7 .elementor-element.elementor-element-727da65 .swiper-pagination-progressbar-fill {
    background-color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-727da65 .swiper-pagination-fraction {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-727da65 .elementor-testimonial__text {
    color: #C7C7C7;
    font-family: "Open Sans", Open Sans;
    font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-727da65 .elementor-testimonial__name {
    color: #FFFFFF;
    font-family: "Trebuchet MS", Open Sans;
    font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-727da65 .elementor-testimonial__title {
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-dbe8d26 {
    padding: 4% 0% 4% 0%;
}

.elementor-7 .elementor-element.elementor-element-c66c500>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 4% 4% 4% 4%;
    --e-column-margin-right: 4%;
    --e-column-margin-left: 4%;
}

.elementor-7 .elementor-element.elementor-element-c66c500>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-40c822a {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-40c822a .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #2B2A29;
}

.elementor-7 .elementor-element.elementor-element-1242dff {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 2px;
}

.elementor-7 .elementor-element.elementor-element-1242dff .elementor-divider-separator {
    width: 20%;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-7 .elementor-element.elementor-element-1242dff .elementor-divider {
    text-align: left;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-7 .elementor-element.elementor-element-1242dff.elementor-view-stacked .elementor-icon {
    background-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-1242dff.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-1242dff.elementor-view-default .elementor-icon {
    color: #FAD678;
    border-color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-1242dff.elementor-view-framed .elementor-icon, .elementor-7 .elementor-element.elementor-element-1242dff.elementor-view-default .elementor-icon svg {
    fill: #FAD678;
}

.elementor-widget-form .elementor-field-group>label {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-type-html {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Open Sans;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-form .elementor-message {
    font-family: var(--e-global-typography-text-font-family), Open Sans;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator, .elementor-widget-form .e-form__indicators__indicator__label {
    font-family: var(--e-global-typography-accent-font-family), Open Sans;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-family: var(--e-global-typography-accent-font-family), Open Sans;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0>.elementor-widget-container {
    background-color: #2B2A29;
    margin: 0% 0% 0% -22%;
    padding: 11% 11% 11% 11%;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-group>label, .elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-subgroup label {
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    border-width: 0px 0px 1px 0px;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-field-group .elementor-select-wrapper select {
    border-width: 0px 0px 1px 0px;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .e-form__buttons__wrapper__button-next {
    background-color: #FAD678;
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-button[type="submit"] {
    background-color: #FAD678;
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-button[type="submit"] svg * {
    fill: #000000;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-7 .elementor-element.elementor-element-a8fe1e0 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-7 .elementor-element.elementor-element-0cfc623:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-0cfc623>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://ambrosiapalace.com/wp-content/uploads/2023/09/why.jpg");
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-0cfc623>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-0cfc623 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: -4%;
    padding: 8% 0% 8% 0%;
}

.elementor-7 .elementor-element.elementor-element-5b91b12 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-5b91b12 .elementor-heading-title {
    font-family: "Poppins", Open Sans;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FAD678;
}

.elementor-7 .elementor-element.elementor-element-a5be099 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-a5be099 .elementor-heading-title {
    font-family: "Trebuchet MS", Open Sans;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-d671039 .elementor-button {
    background-color: #FAD678;
    fill: #000000;
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-d671039 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}